* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html {
	min-height: 100vh;
	width: 100vw;
	height: 100vh;
	/* by default 1rem is 16px */
	font-size: 16px;
	overflow-x: hidden;
	position: relative;
}
/* for wrap section elements */
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 5rem;
}

/* for <section> out-box margin */
.container {
	width: clamp(180px, 95%, 1222px);
	margin: 1.5rem auto;
	background-color: white;
	overflow: hidden;
	/* border-radius: px; */
}

/* for any <element> inner-box padding */
.content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: clamp(200px, 100%, 1222px);
	padding: max(2%, 16px) clamp(16px, calc(15% - 4rem), 120px);
}

header {
	position: fixed;
	width: 100%;
	color: white;
	font-size: 0.9rem;
	line-height: 1rem;
	padding: 0.5rem;
	z-index: 10;
	background: rgba(34, 28, 231, 1);
}

header .container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(34, 28, 231, 1) !important;
}

.bg {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.69;
	object-fit: cover;
	object-position: center;
}

.nav_header {
	display: flex;
	align-items: center;
	gap: 2%;
}

.nav_header_ico {
	width: clamp(65px, 20%, 143px);
	height: clamp(70px, 21.5%, 153px);
}

/* grid container */
.nav_links {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}
a {
	text-decoration: none;
	color: rgba(88, 88, 88, 1);
}

.nav_links a:first-child::after {
	content: 'Методичні рекомендації';
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1.4rem;

	font-size: 1.4rem;
	border-radius: 4px;
	text-wrap: nowrap;
	border: 1px solid rgba(255, 255, 255, 0.251);
	cursor: pointer;
}

.btn img {
	width: 20px;
	height: 20px;
}

.institutions {
	display: grid;
	grid-template-columns: 3rem 1fr 3rem;
	align-items: center;
	gap: min(3rem, 5%);
	position: relative;
}
/* draw violet lines */
.institutions::before,
.institutions::after {
	content: '';
	position: absolute;
	background-color: rgba(176, 76, 255, 1);
	width: 1px;
	height: 70px;
}
.institutions::before {
	left: calc(3rem + 0.5rem);
}
.institutions::after {
	right: calc(3rem + 0.5rem);
}

a:active .institutions {
	color: rgba(150, 150, 150, 1);
}
a:hover .institutions {
	color: orange;
	transition: all 0.4s;
}

@media (max-width: 1120px) {
	:root {
		font-size: 12px;
	}
}
@media (max-width: 768px) {
	:root {
		font-size: 10px;
	}
	.nav_links {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 100%);
	}
	.nav_links a:first-child::after {
		content: 'Рекомендації';
	}
	h1 {
		text-align: left !important;
	}

	@media (max-width: 420px) {
		:root {
			font-size: 8px;
		}
	}
}
