.red {
	background-color: #ff3e2f;
}
.green {
	background: rgb(83, 171, 175);
	background: radial-gradient(
		circle,
		rgba(83, 171, 175, 1) 0%,
		rgba(116, 214, 176, 1) 52%,
		rgba(83, 171, 175, 1) 100%
	);
}
.violet {
	background: rgb(98, 89, 232);
	background: -moz-linear-gradient(
		0deg,
		rgba(98, 89, 232, 1) 0%,
		rgba(132, 126, 236, 1) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(98, 89, 232, 1) 0%,
		rgba(132, 126, 236, 1) 100%
	);
	background: linear-gradient(
		0deg,
		rgba(98, 89, 232, 1) 0%,
		rgba(132, 126, 236, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6259e8",endColorstr="#847eec",GradientType=1);
}

.border-gradient {
	background: radial-gradient(
				circle at 100% 100%,
				#ffffff 0,
				#ffffff 27px,
				transparent 27px
			)
			0% 0%/32px 32px no-repeat,
		radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 27px, transparent 27px)
			100% 0%/32px 32px no-repeat,
		radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 27px, transparent 27px)
			0% 100%/32px 32px no-repeat,
		radial-gradient(circle at 0 0, #ffffff 0, #ffffff 27px, transparent 27px)
			100% 100%/32px 32px no-repeat,
		linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
			calc(100% - 60px) no-repeat,
		linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 60px)
			calc(100% - 10px) no-repeat,
		linear-gradient(
			0deg,
			#ffffff 0%,
			rgba(123, 94, 146, 1) 65%,
			rgba(51, 6, 86, 1) 100%
		);
	border-radius: 31px;
	padding: 5px;
	box-sizing: border-box;
}
